div.highlighted {
	background-color: #E4E4FF;
	border: 1px solid #AAAAAA;
	margin: 20px 280px 20px 20px;
	padding: 10px;
}

div.doc-info {
	background-color: #E4E4FF;
	border: 1px solid #AAAAAA;
	margin: 20px 280px 20px 20px;
	padding: 10px;
}