div#squale-main-picture {
	float: left;
	margin-right: 50px;
}

#video-squale {
	float:right;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
	padding-top:0;
}

div.rightbox {
	width: 200px;
	float: right;
	margin: 0 10px 20px 20px;
	padding: 0px;
	position: relative;
	top: -40px;
}

#demoBox,#downloadBox,#supportBox {
	padding: 0px;
	border: 1px solid #999999;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	font: bold 13px Verdana, Arial;
	font-variant: small-caps;
}

#demoBox a,#downloadBox a {
	background: none;
	color: white;
}

#supportBox a {
	background: none;
}

#demoBox div.boxLink,#downloadBox div.boxLink,#supportBox div.boxLink {
	padding: 0px 35px 5px 5px;
}

#demoBox {
	background: #3366AA url(../images/launch-squale-demo.png) no-repeat
		right;
}

#downloadBox {
	margin-top: 10px;
	background: #3366AA url(../images/download-squale.png) no-repeat right;
}

#supportBox {
	margin-top: 10px;
	background: #DDEEFF url(../images/squale-support.png) no-repeat right;
}

#newsBox {
	margin-top: 10px;
	padding: 5px;
	border: 1px solid #999999;
	background: url(../images/button-top.gif) top repeat-x;
	background-color: white;
}

#newsBox h5 {
	background-color: transparent;
	margin: 0;
	font-size: 14px;
}

div.news {
	background: url(../images/icon_doc_sml.gif) left top no-repeat;
	padding-left: 18px;
	margin-top: 15px;
	font-size: smaller;
}

#ohlohBox, #twitterBox {
	margin-top: 10px;
}

#twitterBox  a {
	background:none;
	margin-left:20px;
}

div.highlighted-news {
	background-color: #E4E4FF;
	border: 1px solid #AAAAAA;
	margin: 20px 280px 20px 20px;
	padding: 10px;
}

div#license-info {
	margin-right: 200px;
}

div#lgpl {
	background: url(../images/lgplv3.png) left top no-repeat;
	padding-left: 200px;
	height: 60px;
}

div#cc {
	background: url(../images/licence-cc.png) left top no-repeat;
	padding-left: 200px;
	height: 60px;
}

div#systematicBox {
	float: right;
}

div#discoverBox div {
	margin: 10px;
	padding: 10px;
}

div#discoverBox td {
	border: 0px;
}

div#discoverBox a {
	background:transparent;
}